<h1 id="macsysadmin-2016-cheat-sheets">MacSysAdmin 2016 Cheat Sheets</h1>
<h2 id="reference">Reference</h2>
<ul>
<li><a href="https://docs.google.com/spreadsheets/d/1rSpkXVVnMxKw9xtsMfxV7Pwuj2tReZXwCHpPNnoRO8g/edit#gid=602029052">Set list</a></li>
<li><a href="https://open.spotify.com/user/fatmrcrab/playlist/200uyFDCDmD6hITzws9xSh">Set list on Spotify</a> (original key)</li>
<li><a href="https://docs.google.com/document/d/15kkAnX6OjWle3rZwtnnH7rDrYYRg-JPz3lYxgc0kN80/edit#heading=h.p7n6774n3m2s">Rider</a></li>
</ul>
<h2 id="prince-radiohead-creep">Prince (Radiohead): Creep</h2>
<ul>
<li>Key: G</li>
<li>Time signature 4/4, maybe 80 bpm?</li>
<li>Chord progression: G - B - C - cmi</li>
<li>Chords in double time compared to Radiohead Original</li>
<li>Elongated intro so we can introduce ourselves</li>
</ul>
<p><em>...tonignt we're going to play melancholic songs for system administrators, songs about work, the lack of appreciation, the lack of sex, just the whole social awkwardness scene that we can all relate to...</em></p>
<p><em>...seriously though, there are a couple of happy songs in the set, but this one is not it</em></p>
<pre><code>When you were here before [G] [B]
Couldn&#39;t look you in the [C] eye [cmi]
You&#39;re just like an [G] angel [B]
Your skin makes me [C] cry [cmi]

You float like a feather [G] [B]
In a beautiful [C] world [cmi]
I wish I was [G] special [B]
You&#39;re so very/fuckin&#39; [C] special [cmi]
</code></pre>
<p><strong>That brutal guitar thing</strong></p>
<pre><code>But I&#39;m a creep, I&#39;m a weirdo
What the hell am I doing here?
I don&#39;t belong here.

I don&#39;t care if it hurts
I wanna have control
I wanna a perfect body
I wanna a perfect soul

I want you to notice (you want me to notice)
When I&#39;m not around (when you&#39;re not around)
You&#39;re so fuckin&#39; special (you wish you were special)
I wish I was special (i think you are special)

But I&#39;m a creep, I&#39;m a weirdo
What the hell am I doing here?
I don&#39;t belong here.</code></pre>
<p><strong>Epic guitar solo</strong></p>
<p>(no need for the prolongued screamy bits though)</p>
<pre><code>She&#39;s running out again,
She&#39;s running out
She&#39;s run run run run

Run

Whatever makes you happy
Whatever you want
You&#39;re so fuckin&#39; special
I wish I was special

But I&#39;m a creep, I&#39;m a weirdo
What the hell am I doing here?
I don&#39;t belong here
I don&#39;t belong here</code></pre>
<h2 id="coldplay-viva-la-vida">Coldplay: Viva la Vida</h2>
<ul>
<li>Key: D</li>
<li>Chord progression: <strong>G</strong> - A - D - bmi (f#mi somewhere)</li>
<li>Ac guitar intro emulates the keys</li>
</ul>
<p>In: Ac gtr + bass drum</p>
<pre><code>I used to [G] rule the [A] world
Seas would [D] rise when I gave the [bmi] word
Now in the morning I [G] sleep [A] alone
Sweep the [D] streets I used to [bmi] own</code></pre>
<p>Add: * electric guitar, slow violin thing * bass (quiet, octave up on the neck)</p>
<pre><code>I used to roll the dice
Feel the fear in my enemy&#39;s eyes
Listened as the crowd would sing
Now the old king is dead long live the king
One minute I held the key
Next the walls were closed on me
And I discovered that my castles stand
Upon pillars of salt and pillars of sand</code></pre>
<p>Bass full on</p>
<pre><code>I hear Jerusalem bells a-ringing
Roman cavalry choirs are singing
Be my mirror, my sword and shield
My missionaries in a foreign field
For some reason I can&#39;t explain
Once you&#39;d gone there was never
Never an honest word
And that was when I ruled the world</code></pre>
<p><strong>Instrumental bit here</strong></p>
<p>Bass quieter/octave up during next verse</p>
<pre><code>It was a wicked and wild wind
Blew down the doors to let me in
Shattered windows and the sound of drums
People couldn&#39;t believe what I&#39;d become
Revolutionaries wait
For my head on a silver plate
Just a puppet on a lonely string
Oh who would ever want to be king?</code></pre>
<p>Bass full on</p>
<pre><code>I hear Jerusalem bells a-ringing
Roman cavalry choirs are singing
Be my mirror, my sword and shield
My missionaries in a foreign field
For some reason I can&#39;t explain
I know St Peter won&#39;t call my name
Never an honest word
But that was when I ruled the world
``

**Instrumental bridge**

Public participation:
``
Oh oh oh oh ohh oh [x5]

Hear Jerusalem bells a-ringing
Roman cavalry choirs are singing
Be my mirror, my sword and shield
My missionaries in a foreign field
For some reason I can&#39;t explain
I know St Peter won&#39;t call my name
Never an honest word
But that was when I ruled the world</code></pre>
<p>If it seems appropriate, do the anthemic oh-oh-oh-ooooo thing again</p>
<h2 id="the-strokes-last-nite">The Strokes: Last Nite</h2>
<p>Transposed to G</p>
<p><strong>Intro - guitar 1 [G in two octaves], guitar 2 [G+C, G+D], bass</strong></p>
<p>G-ami7-D-bmi7-Ami</p>
<p>then: C-D-C-D...</p>
<pre><code>Last night she said
Oh, baby, I feel so down
Oh it turns me off
When I feel left out
So I, I turn &#39;round
Oh, baby, don&#39;t care no more
I know this for sure
I&#39;m walkin&#39; out that door

Well, I&#39;ve been in town for just about fifteen minutes now
And baby, I feel so down
And I don&#39;t know why
I keep walkin&#39; for miles

See, people they don&#39;t understand
No, girlfriends, they can&#39;t understand
Your grandsons, they won&#39;t understand
On top of this, I ain&#39;t ever gonna understand

Last night she said
Oh, baby, don&#39;t feel so down
Oh, it turns me off
When I feel left out
So I, I turn &#39;round
&quot;Oh, baby, gonna be alright
It was a great big lie
&#39;Cause I left that night, yeah

Oh, people they don&#39;t understand
No, girlfriends, they don&#39;t understand
In spaceships, they won&#39;t understand
And me, I ain&#39;t ever gonna understand

Last night she said
&quot;Oh, baby, I feel so down
See, it turns me off
When I feel left out
So I, I turn &#39;round
Oh, little girl, I don&#39;t care no more
I know this for sure
I&#39;m walking out that door, yeah</code></pre>
<p>Insert solo and chord progression</p>
<h2 id="green-day-basket-case">Green Day: Basket Case</h2>
<ul>
<li>Vox: Miikkali</li>
<li>Bass: Robin</li>
</ul>
<p>In: El guitar</p>
<pre><code>Do you have the time to listen to me whine
About nothing and everything all at once
I am one of those
Melodramatic fools
Neurotic to the bone
No doubt about it</code></pre>
<p>Add: Drums (carefully)</p>
<pre><code>Sometimes I give myself the creeps
Sometimes my mind plays tricks on me
It all keeps adding up</code></pre>
<p><strong>Band full on</strong></p>
<pre><code>I think I&#39;m cracking up

Am I just paranoid?
Or am I just stoned

I went to a shrink
To analyze my dreams
She says it&#39;s lack of sex that&#39;s bringing me down
I went to a whore
He said my life&#39;s a bore
So quit my whining cause it&#39;s bringing her down

Sometimes I give myself the creeps
Sometimes my mind plays tricks on me
It all keeps adding up
I think I&#39;m cracking up
Am I just paranoid?
A ya-ya-ya</code></pre>
<p><strong>Instrumental bridgey bit</strong></p>
<pre><code>Grasping to control
So I better hold on</code></pre>
<p><strong>Instrumental/solo bit here</strong></p>
<pre><code>Sometimes I give myself the creeps
Sometimes my mind plays tricks on me
It all keeps adding up
I think I&#39;m cracking up
Am I just paranoid?
Or am I just stoned?</code></pre>
<h2 id="brian-ferry-lets-stick-together">Brian Ferry: Let's stick together</h2>
<p><strong>This is where we start to play metal music</strong> (in come the horns!)</p>
<ul>
<li>Vox: Miikkali</li>
<li>Key: G (G - C - D)</li>
<li>Solo 1 after second verse: sax</li>
<li>Solo 2 after third verse: sax &amp; harmonica alternating</li>
</ul>
<pre><code>And now the [G] marriage vow is very sacred
The man has put us together now
We ought to make it stick to- [C] -gether
Come on, come on, let&#39;s stick to- [G] -gether [Gsus] [G]
You know we [D] made a vow not to [D7] leave one another [G] never

But now you never miss your water till your well runs dry
Come on now baby give our love a try
And stick to- [C] -gether
Come on, come on, let&#39;s stick to- [G] -gether
You know we [D] made a vow not to [D7] leave one another [G] never</code></pre>
<p><strong>Solo 1 - sax</strong></p>
<pre><code>Well if you&#39;re [G] stuck for a while consider our child
How can it be happy without its ma and pa
Let&#39;s stick together
Come on, come on, let&#39;s stick together
You know we made a vow not to leave one another ever</code></pre>
<p><strong>Solo 2 - sax &amp; harmonica</strong></p>
<p>Horns continue after solo</p>
<pre><code>Well if you&#39;re stuck for a while consider our child
How can it be happy without its ma and pa
Let&#39;s stick together
Come on, come on, let&#39;s stick together
You know we made a vow not to leave one another never</code></pre>
<h2 id="abba-does-your-mother-know">ABBA: Does Your Mother Know</h2>
<ul>
<li>Original key: G</li>
<li>Time signature: 4/4</li>
<li>Vox: Robin / Julia</li>
</ul>
<pre><code>Intro:
Synth bass riff in G (8 bars)
Guitar riff:
||: G -&gt; Gsus4 :|| (4 bars)

Verse:
||: G | G E 2/4| G |
4/4| C G/B | Am G |
| D | D | G | G :||

Last bar 2nd time (octave riff):
| G -&gt; A -&gt; A# -&gt; B |

Chorus pt. 1:
||: C | C | C | G -&gt; A -&gt; A# -&gt; B :||

Chorus pt. 2:
||: G | G7 | C/G | Cm/G | G | Cm/G | G | Cm/G :||

Synth bass riff + guitar riff (8 bars)

2. verse

2. chorus (pt. 1 &amp; 2)

Octave riff once

3. chorus (pt. 1) repeat x times

End: ?</code></pre>
<p><strong>Robin</strong></p>
<pre><code>You&#39;re so hot, teasing me
So you&#39;re blue but I can&#39;t take a chance on a chick like you
That&#39;s something I couldn&#39;t do
There&#39;s that look in your eyes
I can read in your face that your feelings are driving you wild
Ah, but girl you&#39;re only a child

Well I can dance with you honey
If you think it&#39;s funny
Does your mother know that you&#39;re out?
And I can chat with you baby
Flirt a little maybe
Does your mother know that you&#39;re out?

Take it easy (*Julia:* take it easy)
Better slow down girl
That&#39;s no way to go
Does your mother know?
Take it easy (*Julia:* take it easy)
Try to cool it girl
Take it nice and slow
Does your mother know?</code></pre>
<p><strong>Julia</strong></p>
<pre><code>I can see what you want
But you seem pretty young to be searching for that kind of fun
So maybe I&#39;m not the one
Now you&#39;re so cute, I like your style
And I know what you mean when you give me a flash of that smile (smile)
But girl you&#39;re only a child

Well I can dance with you honey
If you think it&#39;s funny
Does your mother know that you&#39;re out?
And I can chat with you baby
Flirt a little maybe
Does your mother know that you&#39;re out?

Take it easy (*Robin:* take it easy)
Better slow down girl
That&#39;s no way to go
Does your mother know?
Take it easy (*Robin:* take it easy)
Try to cool it girl
Take it nice and slow
Does your mother know?</code></pre>
<p><strong>Both</strong></p>
<pre><code>Well I can dance with you honey
If you think it&#39;s funny
Does your mother know that you&#39;re out?
And I can chat with you baby
Flirt a little maybe
Does your mother know that you&#39;re out?</code></pre>
<h2 id="dolly-parton-9-to-5">Dolly Parton: 9 to 5</h2>
<ul>
<li>Robin: Triangle :D</li>
</ul>
<pre><code>Tumble outta bed and I stumble to the kitchen
Pour myself a cup of ambition
Yawn and stretch and try to come to life
Jump in the shower and the blood starts pumpin&#39;
Out on the street the traffic starts jumpin&#39;
With folks like me on the job from 9 to 5

Workin&#39; 9 to 5, what a way to make a livin&#39;
Barely gettin&#39; by, it&#39;s all takin&#39; and no givin&#39;
They just use your mind and they never give you credit
It&#39;s enough to drive you crazy if you let it
9 to 5, for service and devotion
You would think that I would deserve a fat promotion
Want to move ahead but the boss won&#39;t seem to let me
I swear sometimes that man is out to get me!</code></pre>
<p>Short Instrumental</p>
<pre><code>They let you dream just to watch &#39;em shatter
You&#39;re just a step on the boss-man&#39;s ladder
But you got dreams he&#39;ll never take away
You&#39;re in the same boat with a lotta your friends
Waitin&#39; for the day your ship&#39;ll come in
An&#39; the tide&#39;s gonna turn and it&#39;s all gonna roll your way

Workin&#39; 9 to 5, what a way to make a livin&#39;
Barely gettin&#39; by, it&#39;s all takin&#39; and no givin&#39;
They just use your mind and you never get the credit
It&#39;s enough to drive you crazy if you let it
9 to 5, yeah they got you where they want you
There&#39;s a better life, and you dream about it, don&#39;t you?
It&#39;s a rich man&#39;s game no matter what they call it
And you spend your life puttin&#39; money in his wallet

9 to 5, whoa what a way to make a livin&#39;
Barely gettin&#39; by, it&#39;s all takin&#39; and no givin&#39;
They just use your mind and they never give you credit
It&#39;s enough to drive you crazy if you let it

9 to 5, yeah they got you where they want you
There&#39;s a better life, and you dream about it, don&#39;t you?
It&#39;s a rich man&#39;s game no matter what they call it
And you spend your life puttin&#39; money in his wallet

9 to 5, working 9 to 5</code></pre>
<h2 id="pointer-sisters-im-so-excited">Pointer Sisters: I'm so excited</h2>
<pre><code>Tonight&#39;s the night we&#39;re gonna make it happen
Tonight we&#39;ll put all other things aside
Give in this time and show me some affection
We&#39;re goin&#39; for those pleasures in the night

I want to love you, feel you
Wrap myself around you
I want to squeeze you, please you
I just can&#39;t get enough

And if you move real slow, I&#39;ll let it go
I&#39;m so excited, and I just can&#39;t hide it
I&#39;m about to lose control and I think I like it

I&#39;m so excited, and I just can&#39;t hide it
And I know, I know, I know, I know, I know I want you

We shouldn&#39;t even think about tomorrow
Sweet memories will last a long, long time
We&#39;ll have a good time, baby, don&#39;t you worry
And if we&#39;re still playin&#39; around, boy, that&#39;s just fine

Let&#39;s get excited, we just can&#39;t hide it
I&#39;m about to lose control and I think I like it
I&#39;m so excited and I just can&#39;t hide it
And I know, I know, I know, I know, I know I want you, I want you

Oh boy, I want to love you, feel you
Wrap myself around you
I want to squeeze you, please you
I just can&#39;t get enough
And if you move real slow, I&#39;ll let it go

I&#39;m so excited, and I just can&#39;t hide it
I&#39;m about to lose control and I think I like it
I&#39;m so excited, and I just can&#39;t hide it
And I know, I know, I know, I know, I know I want you

I&#39;m so excited (look what you do to me), and I just can&#39;t hide it (you got me burning up)
I&#39;m about to lose control and I think I like it (yeah)
I&#39;m so excited (how did you get to me?), and I can&#39;t deny, no, no, no (I&#39;ve got to give it up)
(Oh, oh, oh, oh)I know, I know, that I want you

I&#39;m so excited (look what you do to me), oh boy (you got me burning up)
(Oh, oh, oh, oh) Hey, hey I think I like it (yeah)
I&#39;m so excited (how did you get to me?), you got me (I&#39;ve got to give it up)
(Oh, oh, oh, oh) Oh, ooh I like it boy

I&#39;m so excited (look what you do to me), oh, you got me burning up (burning up)
(Oh, oh, oh, oh, ow)</code></pre>
<h2 id="bto-taking-care-of-business">BTO: Taking Care of Business</h2>
<pre><code>Original key: C
Time signature: 4/4

Intro &amp; verse &amp; chorus &amp; outro:
||: C7 | Bb7 | F7 | C7 :||

Bridge:
||: C -&gt; F | Eb -&gt; Bb :||


You get up every morning
From your alarm clock&#39;s warning
Take the 8:15 into the city
There&#39;s a whistle up above
And people pushin&#39;, people shovin&#39;
And the girls who try to look pretty
And if your train&#39;s on time
You can get to work by nine
And start your slaving job to get your pay
If you ever get annoyed
Look at me I&#39;m self-employed
I love to work at nothing all day
And I&#39;ll be

Taking care of business every day
Taking care of business every way
I&#39;ve been taking care of business, it&#39;s all mine
Taking care of business and working overtime
Work out
If it were easy as fishin&#39;
You could be a musician
If you could make sounds loud or mellow
Get a second-hand guitar
Chances are you&#39;ll go far
If you get in with the right bunch of fellows
People see you having fun
Just a-lying in the sun

Tell them that you like it this way
It&#39;s the work that we avoid
And we&#39;re all self-employed
We love to work at nothing all day
And we be

Taking care of business every day
Taking care of business every way
I&#39;ve been taking care of business, it&#39;s all mine
Taking care of business and working overtime

Take good care of my business
When I&#39;m away, every day whoo!

You get up every morning
From your alarm clock&#39;s warning
Take the 8:15 into the city
There&#39;s a whistle up above
And people pushin&#39;, people shovin&#39;
And the girls who try to look pretty

And if your train&#39;s on time
You can get to work by nine
And start your slaving job to get your pay
If you ever get annoyed
Look at me I&#39;m self-employed
I love to work at nothing all day
And I&#39;ll be

Taking care of business every day
Taking care of business every way
I&#39;ve been taking care of business, it&#39;s all mine
Taking care of business and working overtime

Takin&#39; care of business
Takin&#39; care of business
Takin&#39; care of business
Takin&#39; care of business
Takin&#39; care of business
</code></pre>
<h2 id="semisonic-closing-time">Semisonic: Closing time</h2>
<p><em>Last song, thank you for letting us play rock stars for one night</em></p>
<p><em>Thank you for showing us your technical support</em></p>
<p>During the last few choruses and the solo, brass joins the riff with the electric guitar.</p>
<pre><code>Closing time
Open all the doors and let you out into the world
Closing time
Turn the lights up over every boy and every girl.
Closing time
One last call for alcohol so finish your whiskey or beer.
Closing time
You don&#39;t have to go home but you can&#39;t stay here.

I know who I want to take me home.
I know who I want to take me home.
I know who I want to take me home.
Take me home

Closing time
Time for you to go out to the places you will be from.
Closing time
This room won&#39;t be open &#39;til your brothers or you sisters come.
So gather up your jackets, and move it to the exits
I hope you have found a friend.

Closing time
Every new beginning comes from some other beginning&#39;s end.

Yeah, I know who I want to take me home.
I know who I want to take me home.
I know who I want to take me home.
Take me home</code></pre>
<p><strong>Solo here</strong>, right?</p>
<pre><code>Closing time
Time for you to go out to the places you will be from</code></pre>
<p><strong>Break to take in some applause</strong></p>
<pre><code>I know who I want to take me home.
I know who I want to take me home.
I know who I want to take me home.
Take me home

I know who I want to take me home.
I know who I want to take me home.
I know who I want to take me home.
Take me home

Closing time
Every new beginning comes from some other beginning&#39;s end</code></pre>
<hr />
<p><strong>Encores</strong></p>
<h2 id="acdc-its-a-long-way-to-the-top">AC/DC: It's a long way to the top</h2>
<ul>
<li>Features: kazoos</li>
<li>All hands on deck!</li>
</ul>
<p>In: * Guitars * Add bass drums * Add bass, second guitar, all drums</p>
<pre><code>Ridin&#39; down the highway
Goin&#39; to a show
Stop in all the byways
Playin&#39; rock &#39;n&#39; roll
Gettin&#39; robbed
Gettin&#39; stoned
Gettin&#39; beat up
Broken boned
Gettin&#39; had
Gettin&#39; took
I tell you folks
It&#39;s harder than it looks

It&#39;s a long way to the top if you want to rock &#39;n&#39; roll
It&#39;s a long way to the top if you want to rock &#39;n&#39; roll

If you think it&#39;s easy doin&#39; one night stands
Try playin&#39; in a rock roll band
It&#39;s a long way to the top if you want to rock &#39;n&#39; roll</code></pre>
<h4 id="solos">Solos</h4>
<p><strong>Kazoo choir</strong></p>
<p><strong>Guitar and kazoo alternating</strong></p>
<p>Kazoo drones continue under vocals, fade after half verse</p>
<pre><code>Hotel motel
Make you want to cry
Lady do the hard sell
Know the reason why
Gettin&#39; old
Gettin&#39; grey
Gettin&#39; ripped off
Under-paid
Gettin&#39; sold
Second hand
That&#39;s how it goes
Playin&#39; in a band

It&#39;s a long way to the top if you want to rock &#39;n&#39; roll
It&#39;s a long way to the top if you want to rock &#39;n&#39; roll

If you want to be a star of stage and screen
Look out it&#39;s rough and mean

It&#39;s a long way to the top if you want to rock &#39;n&#39; roll
It&#39;s a long way to the top if you want to rock &#39;n&#39; roll
But it&#39;s a long way
It&#39;s a long way, (you should&#39;ve told me)
It&#39;s a long way, such a long way</code></pre>
<p><strong>Kazoo three tone thing</strong> (repeat ad nauseam)</p>
<h2 id="robbie-williams-let-me-entertain-you">Robbie Williams: Let me entertain you</h2>
<ul>
<li>Transposed key: C</li>
</ul>
<pre><code>Hell is gone and heaven&#39;s here
There&#39;s nothing left for you to fear
Shake your ass come over here
Now scream
I&#39;m a burning effigy
Of everything I used to be
You&#39;re my rock of empathy, my dear

So come on let me entertain you
Let me entertain you

Life&#39;s too short for you to die
So grab yourself an alibi
Heaven knows your mother lied
Mon cher
Separate your right from wrongs
Come and sing a different song
The kettle&#39;s on so don&#39;t be long
Mon cher

So come on let me entertain you
Let me entertain you

Look me up in the yellow pages
I will be your rock of ages
Your see through fads and your crazy phrases yeah
Little Bo Peep has lost his sheep
He popped a bill and fell asleep
The dew is wet but the grass is sweet, my dear
Your mind gets burned with the habits you&#39;ve learned
But we&#39;re the generation that&#39;s got to be heard
You&#39;re tired of your teachers and your school&#39;s a drag
You&#39;re not going to end up like your mum and dad

So come on let me entertain you
Let me entertain you
Let me entertain you
He may be good he may be outta sight
But he can&#39;t be here so come around tonight
Here is the place where the feeling grows
You gotta get high before you taste the lows
So come on
Let me entertain you
Let me entertain you
So come on let me entertain me
Let me entertain you
Come on come on come on come on</code></pre>
<h2 id="harry-belafonte-banana-boat-song">Harry Belafonte: Banana boat song</h2>
<pre><code>Day-o, day-o
Daylight come and me wan&#39; go home
Day, me say day, me say day, me say day
Me say day, me say day-o
Daylight come and me wan&#39; go home

Work all night on a drink of rum
Daylight come and me wan&#39; go home
Stack banana till de morning come
Daylight come and me wan&#39; go home

Come, Mister tally man, tally me banana
Daylight come and me wan&#39; go home
Come, Mister tally man, tally me banana
Daylight come and me wan&#39; go home

Lift six foot, seven foot, eight foot bunch
Daylight come and me wan&#39; go home
Six foot, seven foot, eight foot bunch
Daylight come and me wan&#39; go home

Day, me say day-o
Daylight come and me wan&#39; go home
Day, me say day, me say day, me say day, me say day, me say day
Daylight come and me wan&#39; go home

A beautiful bunch o&#39; ripe banana
Daylight come and me wan&#39; go home
Hide the deadly black tarantula
Daylight come and me wan&#39; go home

Lift six foot, seven foot, eight foot bunch
Daylight come and me wan&#39; go home
Six foot, seven foot, eight foot bunch
Daylight come and me wan&#39; go home

Day, me say day-o
Daylight come and me wan&#39; go home
Day, me say day, me say day, me say day...
Daylight come and me wan&#39; go home

Come, Mister tally man, tally me banana
Daylight come and me wan&#39; go home
Come, Mister tally man, tally me banana
Daylight come and me wan&#39; go home

Day-o, day-o
Daylight come and me wan&#39; go home
Day, me say day, me say day, me say day
Me say day, me say day-o
Daylight come and me wan&#39; go home</code></pre>
